@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("beta.eksisozluk.com") {
	
	body, #content-section, #index-section, #top-bar, #advanced-search-form, .ui-autocomplete, .dropdown-menu, .share-dialog, #in-topic-search-options {
		background-color: #EAEAEA !important;
	}
	
	a {
		color: #AE0311 !important;
	}
	
	a:hover {
		background-color: white !important; 
	}
	
	#aside {
		display: none !important;
	}
	
	button.primary, input.primary[type="submit"], input.primary[type="button"] {
		background-color: #AE0311 !important;
		background-image: -moz-linear-gradient(center top , #AE6341, #9E2011) !important;
		border-color: #800000 !important;
	}
	
	body > header #top-bar {
		position: fixed;
		top: 0;
		z-index: 30 !important;
	}
	
	#container {
		position: absolute;
		top: 65px;
		bottom: 0;
	}
	
	#index-section {
		position: fixed;
		top: 75px;
		bottom: 0;
		overflow-y: scroll;
		padding-right: 10px !important;
		width: 240px !important;
		margin-bottom: 0 !important;
	}
	
	#content-section {
		position: relative;
		left: 40px;
		top: 10px;
		width: 90% !important;
	}
	
	#topic {
		width: 100%;
	}
	
	.sub-title-menu {
		margin-bottom: 0 !important;
	}
	
	.pager {
		margin-bottom: 0 !important;
		right: 0 !important;
	}
	
	#entry-list {
		position: relative;
		left: 40px !important;
	}
	
	#entry-list > li:before {
		font-size: 1em !important;
		top: 10px !important;
		border-bottom: 0px solid transparent !important;
		color: black !important;
		content: attr(value) "." !important;
		width: 50px !important;
		position: absolute !important;
		left: -60px !important;
		text-align: right;
	}
	
	#entry-list > li:not(:last-child) {
		border-bottom: 1px solid #D9D9D9 !important;
	}

	#entry-list > li {
		margin-bottom: 0 !important;
		padding-top: 10px !important;
	}

	li .feedback, li .options {
		visibility: hidden !important;
	}
	
	li:hover .feedback, li:hover .options {
		visibility: visible !important;
	}
	
	article {
		margin-bottom: 15px !important;
	}
}